<div ng-controller="Region_Settings_Delete">
    <form class="form-horizontal" ng-class="{'loading': formLoading}">
        <fieldset>
            <div class="form-group">
                <div class="control-group" ng-class="{'has-warning': passwordError}">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password"
                               placeholder="Confirm by enter your password" ng-model="password">
                        <span class="help-block">You can't restoring services after deleting this region</span>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-danger" ng-click="deleteRegion()">
                        <span class="fa fa-trash"></span>
                        Delete
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>