<style>
    p {
        color: #8a6ead;
    }

    .separator {
        display: block;
        margin: 40px 100px 40px 100px;
        border-bottom: 1px solid #e7ebf3;
    }
</style>
<div ng-controller="Region_Settings_General">
    <div class="container">
        <div class="row"  ng-controller="Region_Settings_General_Network">
            <div class="col-sm-4">
                <h4>
                    Network
                </h4>
                <p>
                </p>
            </div>
            <div class="col-sm-8">
                <form class="form-horizontal" ng-class="{'loading': formLoading}">
                    <fieldset>
                        <div class="form-group">
                            <label for="network" class="col-sm-2 control-label">Address/mark</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" rows="3" id="network" placeholder="Ex: 192.168.1.0/255.255.255.0" ng-model="form.network">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-sm-2 control-label">Domains</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="textArea" ng-model="form.domains"></textarea>
                                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="networkUpdate" class="col-sm-2 control-label"></label>-->
                            <div class="col-sm-10 col-sm-offset-2">
                                <button class="btn btn-default" ng-click="save()">
                                    <span class="fa fa-save"></span>
                                    Apply
                                </button>
                                <span style="color: red">{{fromErr}}</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="separator row">
        </div>
        <div class="row" ng-controller="Region_Settings_General_SdSeeder">
            <div class="col-sm-4">
                <h4>
                    sd-seeder
                </h4>
                <p>
                    Every <b>sd-seeder</b> running in a same Region will use this Access Token to connect to ServiceDev
                    server.
                </p>
            </div>
            <div class="col-sm-8">
                <form class="form-horizontal" ng-class="{'loading': formLoading}">
                    <fieldset>
                        <div class="form-group">
                            <div class="control-group">
                                <label for="sdSeedAccessToken" class="col-md-2 control-label">Access token</label>
                                <div class="col-md-8">
                                    <div class="input-group col-sm-10">
                                        <input type="text" id="sdSeedAccessToken" class="form-control" readonly ng-model="at">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="copyToClipboard()">
                                                <span class="fa fa-copy"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="separator row">
        </div>
        <div class="row" ng-controller="Region_Settings_Delete">
            <div class="col-sm-4">
                <h4>
                    Destroy
                </h4>
                <p>
                    Be careful!!! You can't restoring services after destroying.
                </p>
            </div>
            <div class="col-sm-8">
                <form class="form-horizontal" ng-class="{'loading': formLoading}">
                    <fieldset>
                        <div class="form-group">
                            <div class="control-group" ng-class="{'has-warning': passwordError}">
                                <label for="password" class="col-md-2 control-label">Password</label>
                                <div class="col-md-4">
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Enter your password" ng-model="password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-lg-offset-2">
                                <button class="btn btn-danger" ng-click="deleteRegion()">
                                    <span class="fa fa-remove"></span>
                                    Destroy
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>