@color1: #1c2224;
@color2: #466176;
@color3: #587890;
@color5: #dbdbdb;
@color6: #dcdcdc;

@BG_COLOR : #fafafa;

//@header_height: 100px;

//@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300italic,400,400italic,500);

html,
body {
  margin: 0;
  padding: 0;
  //font-family: Ubuntu, Helvetica, Arial, sans-serif;
  // font-family: 'MuseoSans_Thin',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-weight: 300;
  background: @BG_COLOR;
}

.app-icon {
  background-color: #8a6ead;
  color: #61467f;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

@app-nav-height: 50px;
.app-nav {
  height: @app-nav-height;
  line-height: @app-nav-height;
  min-height: @app-nav-height;
  //background-color: #fafafa;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: @color1;
}

.app-nav .navbar-nav > li > a {
  height: @app-nav-height;
  line-height: @app-nav-height;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.3em;
  color: white;
}

.app-nav .navbar-nav > li > a.active,
.app-nav .navbar-nav > li > a:focus,
.app-nav .navbar-nav > li > a:target,
.app-nav .navbar-nav > li > a:hover {
  background-color: @color2;
  //color: @color1;
}

.app-nav .navbar-nav > li > a > i {
  margin-right: 10px;
}

.app-nav .navbar-nav > li > a > span {
  margin-left: 10px;
}

.app-nav .dropdown-menu li > a {
  height: 40px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.1em;
}

.app-nav .dropdown-menu li > a > i {
  margin-right: 10px;
}

.app-nav .dropdown-menu li > a > span {
  margin-left: 10px;
}

@sub-menu-height: 50px;
.app-nav-sub {
  height: @sub-menu-height;
  line-height: @sub-menu-height;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid @color6;
}

.app-nav-sub li {
  height: @sub-menu-height;
  line-height: @sub-menu-height;
}

.app-nav-sub .navbar-nav > li > a {
  height: @sub-menu-height;
  line-height: @sub-menu-height;
  color: @color3;
  padding-top: 0;
  padding-bottom: 0;
}

.app-nav-sub .navbar-nav > li.active {
  border-bottom: 1px solid @color1;
  //margin-bottom: -1px;
}

.app-nav-sub .navbar-nav > li.active a {
  color: @color1;
}

.app-nav-sub .navbar-nav > li.active a:hover {
  color: @color1;
  border-bottom: 1px solid @color1;
}

.app-nav-sub .navbar-nav > li a:focus {
  background-color: white;
  border-bottom: 1px solid @color6;
}

.app-nav-sub .navbar-nav > li a:hover {
  background-color: white;
  color: @color1;
  border-bottom: 1px solid @color1;
}

ul.server-list {
  color: @color1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.server-list > li {
  border: solid 2px @color6;
  border-radius: 3px;
  margin-top: 10px;
  // border-bottom: 2px solid @color1;
  padding: 20px;
  // -webkit-box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.75);
  // box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.75);
}

.server-list > li:hover {
  border-color: @color3;
}

.server-list > li > a {
  color: @color1;
}

.server-list > li > a > i {
  color: @color3;
}

.server-list .server-info i {
  padding-right: 3px;
  padding-left: 10px;
  color: @color3;
}

.server-list > li.primary {
  // border-left: 5px solid #337ab7;
  border: 1px solid #337ab7;
}

.server-list > li.primary:hover {
  // border: 1px solid #337ab7;
  // border-left: 5px solid #337ab7;
}

.server-list > li.danger {
  // border: 1px solid #d9534f;
}

.server-list > li.danger a {
  color: #d9534f;
}

.server-list > li.danger > a > i {
  color: #d9534f;
}

.server-list > li > .server-info {
  border-left: 1px solid @color6;
  padding-left: 10px;
  margin-left: 25px;
  //margin-right: 10px;
}

.server-list > li > .server-info > div {
  display: inline-block;
  width: 50px;
}

.server-list > li.danger:hover {
  // border: 1px solid #d9534f;
  // border-left: 5px solid #d9534f;
}

.server-list > li.danger * {
  color: #d9534f;
}

.server-list li > a > i {
  margin-left: 10px;
  margin-right: 10px;
}

.server-list li > a > span {
  margin-left: 10px;
  margin-right: 10px;
}

//@radius: 5px;
//
//textarea,
//input,
//button {
//  border: @color6 2px solid;
//}
//.form-control:hover,
//.form-control:active,
//.form-control:focus,
//input:hover,
//input:active,
//input:focus,
//textarea:hover,
//textarea:active,
//textarea:focus,
//button:focus,
//button:active,
//button:hover
//{
//  outline: none;
//  -webkit-box-shadow: none !important;
//  -moz-box-shadow: none !important;
//  box-shadow: none !important;
//  border: @color1 2px solid;
//}
//.input-group:hover,
//.input-group {
//  border: @color1 2px solid;
//  border-radius: @radius;
//}

.input-group-primary .input-group-addon:first-child {
  border-color: @color1;
  border-width: 2px 0 2px 2px;
}

.input-group-primary .input-group-addon:last-child {
  border-color: @color1;
  border-width: 2px 2px 2px 0;
}

.input-group-primary input {
  border-color: @color1;
}

.input-group-primary input:focus,
.input-group-primary input:active,
.input-group-primary input:hover {
  border-color: @color1;
}

.link-primary {
  color: @color1;
}

.link-primary:hover {
  color: @color3;
}

.panel {
  border-width: 2px;
}

.panel > .panel-heading a > img {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-top: -0.25em;
}

.well a > img {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-top: -0.25em;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  margin-bottom: 1em;
}

.well-btn {
  border: 2px solid #ecf0f1;
}

.well-btn:hover {
  border: 2px solid #cecece;
}

.well .pull-right {
  margin: 2em 0.7em 0 0.7em;
}

.label {
  display: inline-block;
  margin-right: 0.5em;
}

.vertical-space {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.nav > li.nav-tabs-header > a:focus,
.nav > li.nav-tabs-header > a:hover,
.nav > li.nav-tabs-header > a {
  background-color: transparent;
  border-color: transparent;
  //color: @color1;
  font-weight: bold;
}

.panel-lg {
  border-radius: 8px;
}

.panel-lg .panel-footer {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.panel-lg .panel-heading {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.loading-panel {
  min-width: 10px;
  padding: 20px;
  position: relative;
  background: no-repeat center;
  background-image: url(../img/loading1.gif);
}

.loading::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: @BG_COLOR no-repeat center;
  opacity: 1;
  z-index: 10000000;
  background-image: url(../img/loading1.gif);
}

.nav.nav-sdev {
  border-color: #e0d5ef;
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.nav.nav-sdev li a,
.nav.nav-sdev li a:focus,
.nav.nav-sdev li a.active,
.nav.nav-sdev li.active a,
.nav.nav-sdev li.active a:focus,
.nav.nav-sdev li.active a.active {
  border-color: transparent;
  border-radius: 0;
}

.nav.nav-sdev li.active {
  border-bottom: 1px solid #61467f;
  height: 45px;
}

.nav.nav-sdev li.active a {
  background-color: transparent;
}

.nav.nav-sdev li a:hover {

}

.input-group .input-group-addon {
  border-width: 2px;
}

.btn span:first-child {
  padding-right: 5px;
  padding-left: 0;
}

.btn.btn-default {
  background-color: transparent;
  color: #61467f;
  border-color: #dce4ec;
}

.btn.btn-default:hover,
.btn.btn-default.active,
.btn.btn-default:focus {
  background-color: #a187bd;
  border-color: #a187bd;
  color: white;
}