<!DOCTYPE html>
<html>

<head>
    <title>Databases</title>
    <style>
        table {
            padding: 0;
            margin: 0;
            border: none;
            border-collapse: collapse;
        }

        th, td {
            padding: 0;
            margin: 0;
            border: none;
            padding-left: 30px;
            padding-right: 30px;
        }

        tbody tr {
            color: #4dc71f;
            padding: 0;
            margin: 0;
            border: none;
        }

        tbody tr:hover {
            background-color: #f5f7ef;
        }
    </style>
</head>

<body>
<h1>Databases [ {(dbs.length)} ]</h1>
<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>MB</th>
    </tr>
    </thead>
    <tbody>
    {(#dbs)}
    <tr>
        <td>{( name )}</td>
        <td>{( size )}</td>
        <td>
            {(#deletable)}
            <a href="delete?id={(name)}">delete</a>
            {(/deletable)}
        </td>
    </tr>
    {(/dbs)}
    </tbody>
</table>
</body>

</html>
