<style>
</style>
<div ng-controller="Region_Service">
    <div class="container-fluid">
        <ul class="nav nav-tabs nav-sdev row">
            <!--<li class="nav-tabs-header">-->
                <!--<a>-->
                    <!--<span class="fa fa-cube"></span>-->
                    <!--{{$stateParams.serviceId}}-->
                <!--</a>-->
            <!--</li>-->
            <li class="nav-tabs-header">
                <a ui-sref="region.services">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="region.service.overview">
                    <span class="fa fa-cube"></span>
                    {{$stateParams.serviceId}}
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="region.service.instances">instances</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="region.service.status">status</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="region.service.versions">versions</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="region.service.users">users</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="region.service.settings">
                    settings
                </a>
            </li>
        </ul>
    </div>

    <div ui-view></div>
</div>