<style>
    .inline *{
        max-height: 2em;
        max-width: 8em;
    }
    .table-sdev thead tr th{
        line-height: 36px;
        vertical-align: middle;
        background-color: #F7F8FB;
        border-bottom: 1px solid #e0d5ef;
    }
</style>

<div class="container-fluid" ng-controller="Region_Services">
    <!--<div class="vertical-space ">-->
        <!--<div class="vertical-space ">-->
            <!--<div class="input-group col-md-4 input-group-md">-->
                <!--<span class="input-group-addon ">-->
                    <!--<span class="fa fa-cube"></span>-->
                <!--</span>-->
                <!--<input type="text" class="form-control" placeholder="Service name"  aria-describedby="basic-addon1">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <table class="table table-striped table-hover table-sdev">
            <thead>
            <tr>
                <th style="width:8em" class="">SERVICES
                    <!--<span class="fa fa-angle-right" style="padding-left:10px"></span>-->
                </th>
                <th>
                    <div class="input-group col-md-10 input-group-md">
                        <input type="text" class="form-control" placeholder="service name"  aria-describedby="basic-addon1">
                        <span class="input-group-addon ">
                            <span class="fa fa-search"></span>
                        </span>
                    </div>
                </th>
                <th>instances</th>
                <th>developers</th>
                <th>users</th>
                <th>used by</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="service in services">
                <td>
                    <span class="inline">
                        <img ng-src="{{service.icon}}" class="pull-right">
                    </span>
                </td>
                <td>
                    <a roles="button" ui-sref="region.service.overview({serviceId: service.name})"   data-toggle="tooltip" title="Hooray!" data-placement="bottom" >
                        {{service.name}}
                    </a>
                </td>
                <td>
                    <label class="label label-primary" ng-repeat="provider in service.providers">{{provider.name}}</label>
                </td>
                <td>
                    <label class="label label-primary" ng-repeat="provider in service.providers">{{provider.name}}</label>
                </td>
                <td>
                    <label class="label label-primary" ng-repeat="user in service.users">{{user.name}}</label>
                </td>
                <td>
                    <b>{{service.used}}</b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>