<style>
    .loginFrom .fa {
        font-size: 1.5em;
    }
</style>
<div ng-controller="login" style="margin-top: 100px">
    <div class="loginFrom col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h2>
                    <span href="#" class="app-icon">
                        <span class="">S_</span><span class="content"></span>
                    </span>
                </h2>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group form-group-lg" ng-class="{'has-warning': form.error}">
                        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" ng-model="form.email">
                    </div>
                    <div class="form-group form-group-lg" ng-class="{'has-warning': form.error}">
                        <input type="password" class="form-control" placeholder="Password"
                               aria-describedby="basic-addon1" ng-model="form.password" my-enter="login()">
                    </div>
                    <div class="form-group" style="padding-left: 5px">
                        <a role="button">Forgot password</a>
                    </div>
                    <div class="form-group" style="padding-left: 5px">
                        <p style="color: #ff9800">{{form.error}}</p>
                    </div>
                </form>
            </div>
            <div class="panel-footer" style="position: relative" ng-class="{'loading': form.loading}">
                <button class="btn btn-primary pull-right" style="padding-left: 30px;padding-right: 30px" ng-click="login()">
                    LOGIN
                </button>
                <button class="btn btn-link"><span class="fa fa-google-plus"></span></button>
            </div>
        </div>
    </div>
</div>