<style>
    .hide {
        display: none;
    }

    .simple-link:active,
    .simple-link:focus,
    .simple-link:hover {
        text-decoration: none;
    }

    .simple-link .glyphicon {
        position: relative;
        top: 0.15em;
    }

    .navbar .app-icon {
        background-color: #61467F;
        padding: 0;
        margin: 0;
    }

    .navbar .app-icon div {
        background-color: #61467F;
        border: 2px solid #61467F;
        color: #8A6EAD;
        font-size: 1.5em;
        border-radius: 3px;
        margin: 5px 0 5px 5px;
        padding: 5px;
        vertical-align: bottom;
    }

    .navbar .app-icon div:hover {
        background-color: #8A6EAD;
        border: 2px solid #8A6EAD;
        color: #61467F;
    }

    .navbar .avatar {
        padding: 0 5px 0 5px;
        margin: 0 20px 0 0;
        height: 50px;
        line-height: 45px;
    }

    .navbar .avatar img {
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
    }

    #main-navbar {
        border-radius: 0;
        margin-bottom: 0;
    }

    /*h1 .btn-group{*/
    /*margin-bottom: 0.3em;*/
    /*}*/
</style>
<div ng-controller="Region">
    <div id="main-navbar" class="navbar navbar-default">
        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand app-icon" ui-sref="regions" style="padding-right:0">
                    <div>S_</div>
                </a>
                <a class="navbar-brand active" ui-sref="region.overview">
                    {{region.name}}
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': (menu.$current.name=='Services')}">
                        <a ui-sref="region.services">
                            <span class="fa fa-cubes"></span>
                            <!--Services-->
                        </a>
                    </li>
                    <li ng-class="{'active': (menu.$current.name=='Servers')}">
                        <a ui-sref="region.servers.list">
                            <span class="fa fa-desktop"></span>
                            <!--Servers-->
                        </a>
                    </li>
                    <li ng-class="{'active': (menu.$current.name=='Users')}">
                        <a ui-sref="region.users">
                            <span class="fa fa-users"></span>
                            <!--Users-->
                        </a>
                    </li>
                    <li ng-class="{'active': (menu.$current.name=='Settings')}">
                        <a ui-sref="region.settings.general" data-toggle="tooltip" data-placement="bottom"
                           title="Tooltip on bottom">
                            <span class="fa fa-cogs"></span>
                            <!--Settings-->
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle avatar" data-toggle="dropdown" role="button">
                            <!--<span class="fa fa-gear"></span>-->
                            <img ng-src="{{profile.icon}}">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a role="button" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>