<style type="text/css">
    .searcher {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .page-header {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 100px;
    }

    .user-avatar img {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
    }

    .page-header {
        position: relative;
        vertical-align: middle;
    }

    .page-header a.app-icon {
        background-color: #61467f;
        padding: 5px 10px 10px 10px;
        font-size: 1.8em;
        text-decoration: none;
    }

    .page-header a.app-icon span {
        /*color: #8a6ead;*/
        color: white;
        clear: both;
    }

    .panel.panel-region {
        padding: 20px;
        /*border: solid 2px #dce4ec;*/
    }

    .page-header .vertical-space {
        margin-top: 30px;
    }

    .page-header .page-title {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        vertical-align: middle;
        margin-top: 100px;
        color: #8a6ead;
    }

    .page-header .page-title div {
        font-size: 2em;
        display: inline-block;
        padding-left: 10px;
    }

    .page-header .user-profile .avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
</style>

<div ng-controller="RegionList">

    <div class="page-header">
        <div class="container">
            <div class=" vertical-space">
                <div class="page-title text-center">
                    <a href="#" class="app-icon" role="button"><span>S_</span></a>
                    <div>servicedev</div>
                </div>
                <div class="pull-right">
                    <div class="user-profile">
                        <div class="dropdown">
                            <img role="button" class="avatar dropdown-toggle" ng-src="{{userProfile.icon}}"
                                 data-toggle="dropdown">
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="button" tabindex="-1" ng-click="logout()">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-body" ng-class="{'loading': !$root.appLoaded}">

        <div class="container">
            <div class="searcher">
                <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                    <!--<span class="input-group-addon " id="basic-addon1">-->
                    <!--<span class="glyphicon glyphicon-search"></span>-->
                    <!--</span>-->
                    <input type="text" class="form-control" placeholder="region name" ng-model="searchText"
                           my-enter="search()">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-show="regions.length===0 && !searching && validRegionName" ng-click="create()">
                            <span class="fa fa-plus"></span>
                        </button>
                        <button type="button" class="btn" ng-show="!(regions.length===0 && !searching && validRegionName)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <!--<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu dropdown-menu-right">-->
                        <!--<li><a href="#"><span class="fa fa-plus"></span> Create</a></li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default panel-region" ng-repeat="region in regions">
                        <div class="panel-body">
                            <h3 style="margin-bottom: 30px;">
                                <a ui-sref="region.overview({regionId: region.id})" class="">
                                    <span class="fa fa-globe"></span>
                                    {{region.id}}
                                </a>
                            </h3>
                            <p>
                                <b>Domains:</b>
                                <span class="">mmsofts.com</span>,
                                <span class="">bookstore.net</span>
                            </p>

                            <p>
                                <b>Services:</b>
                                <span ng-repeat="service in region.services">{{service}}, </span>
                                <span ng-show="region.serviceCount - region.services.length>0">+{{region.serviceCount - region.services.length}} more</span>
                            </p>

                            <div style="margin-top: 30px;">
                                <div class="text-right">
                                    <a href="#" ng-repeat="user in region.users" class="user-avatar">
                                        <img ng-src="{{user.avatar}}" src="http://www.gravatar.com/avatar/6d8d3d2a3d9b49a406b54eed7315ed9c?s=113&d=identicon&r=PG">
                                    </a>
                                    <b ng-show="region.userCount - region.users.length>0">
                                        +{{region.userCount - region.users.length}}
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center" ng-show="regions.length===0 && !searching">
                        <h2 style="color:#DDDDDD">
                            Not found
                        </h2>
                    </div>

                    <div class="loading-panel" ng-show="searching"></div>
                </div>
            </div>
        </div>
    </div>
</div>