<style type="text/css">
</style>
<div ng-controller="Region_Servers">
    <div class="container">
        <div class="row ">
            <div class="vertical-space">
                <div class="panel-body">
                    <div class="col-xs-8 col-md-4 ">
                        <div class="input-group input-group-md">
                            <span class="input-group-addon">
                                <span class="fa fa-desktop"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Server name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-8">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-link btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                add
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="region.servers.add.ssh">
                                        <span class="fa fa-terminal"></span>
                                        SSH
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a  ui-sref="region.servers.add.digitalOcean">
                                        <span class="glyphicon glyphicon-flash"></span>
                                        Digital Ocean
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-flash"></span>
                                        Vultr
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="well" ng-repeat="server in servers">
                <div class="">
                    <h4>
                        <a ui-sref="region.server.overview({serverId: server.id})">
                            <span class="fa fa-desktop"></span>
                            {{server.name}}
                        </a>
                    </h4>
                    <p>
                        <span class="label label-default" ng-repeat="service in server.services">{{service}}</span>
                    </p>
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="btn btn-primary btn-xs text-left" role="button" ui-sref="region.server.console({serverId: server.id})">
                                <span class="fa fa-terminal"></span>
                                {{server.ip}}
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <div class="text-right">
                                <i>
                                    {{server.cpu}}GHz
                                </i>,
                                <i>
                                    {{server.core}}Cores
                                </i>,
                                <i>
                                    {{server.ram}}GB
                                </i>,
                                <i>
                                    {{server.disk}}GB
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="">-->
            <!--<div class="well" ng-repeat="regionDetail in serverList">-->
            <!--<h5>-->
            <!--<a ng-href="#region/{{region.id}}" class="">-->
            <!--<span class="glyphicon glyphicon-globe"></span>-->
            <!--{{region.name}}-->
            <!--</a>-->
            <!--</h5>-->

            <!--</div>-->
            <!--</div>-->
        </div>

    </div>
</div>